:root {
  /*----------- colors --------------*/
  --primary-red: #da1407;
  --secondary-red: #b14434;
  --primary-gray: #252525;
  --secondary-gray: #676767;
  --warn-black: #2b2b2b;
  --light-gray: #e7e7e7;
  --white: #fff;
  /*----------- fonts --------------*/
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --x: 2.2rem;
  --xl: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}
